body {
    display: flex;
    margin: 0px;
    background: white;
    flex-direction: row;
    overflow: hidden;
}

main {
    margin: 0px;
    flex: 1;
}

#containerBob {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: black;
}

textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 400px;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #256632;
    color: #FFFFFF;
    border: none;
    opacity: 75%;
    transition: 1s;
}

button:hover {
    transition: 1s;
    opacity: 100%;
}

#resposta {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #dddddd;
    border: 1px solid black;
    text-align: left;
    display: none;
}

#div_username {
    font-size: larger;
    font-weight: bold;
}

.limparSessao {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #189D50;
    
    color: white;
    font-weight: bold;

    border: 1px solid #0eac50;
    border-radius: 5px;

    height: 7%;
    width: 70%;
}

.limparSessao:hover {
    background-color: #0e4209;
    border: 1px solid #0e4209;
}