* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f5;
    color: #333;
}

.header {
    width: 100%;
    height: 85px;

    position: fixed;
    top: 0;
    z-index: 1000;

    background-color: white;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
}

.header-content {
    width: 90%;
    height: 100%;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    height: 60px;
}

.header-menu {
    display: flex;
    align-items: center;
    gap: 22px;
}

.header-menu a {
    text-decoration: none;
    color: #333;

    font-size: 15px;
    font-weight: 600;

    transition: 0.3s;
}

.header-menu a:hover {
    color: #2f7d3d;
}

.btn-login {
   border: 2px solid #2f7d3d;
    color: #2f7d3d !important;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.btn-register {
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    background-color: #2f7d3d;
    color: black !important;
}

.btn-register:hover{
    color: white !important;
}

.btn-login:hover {
    background-color: #2f7d3d;
    color: white !important;
}