body {
    display: flex;
    margin: 0;
    background: #0eac50;
    flex-direction: row;
    overflow-x: hidden;
}

main {
    flex: 1;
}

/* ================= MAIN ================= */

.content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.message {
    display: flex;
    justify-content: space-between;
}

.span-message {
    font-size: 30px;
    font-weight: bold;
    color: #fafafa;
}

.description {
    margin-top: 15px;
}

.span-description {
    color: #fafafa;
    font-size: 16px;
}

/* ================= LISTA DE ALERTAS ================= */

.alerts {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 750px;

    margin-top: 25px;
}

.alert-boxes {
    display: flex;
    flex-direction: column;

    background-color: #0e853f;

    border: 10px solid #0e853f;
    border-radius: 12px;

    padding: 10px;

    gap: 12px;

    overflow-y: auto;
}

/* ================= ALERTA CRÍTICO ================= */

.box-alert-red {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(167, 0, 0);

    color: white;

    padding: 15px;

    border-radius: 8px;

    font-weight: bold;
}

/* ================= ALERTA MÉDIO ================= */

.box-alert-yellow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFCD04;

    color: #222;

    padding: 15px;

    border-radius: 8px;

    font-weight: bold;
}

/* ================= COLUNAS ================= */

.span-data-alert {
    width: 25%;
}

.span-msg-alert {
    width: 50%;
}

.span-faixa-alert {
    width: 25%;

    display: flex;
    justify-content: flex-end;
}

/* ================= SCROLL ================= */

.alert-boxes::-webkit-scrollbar {
    width: 10px;
}

.alert-boxes::-webkit-scrollbar-thumb {
    background-color: #189D50;
    border-radius: 10px;
}

/* ================= USUÁRIO ================= */

#div_username {
    font-size: larger;
    font-weight: bold;
}

.limparSessao {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #189D50;

    color: white;
    font-weight: bold;

    border: 1px solid #0eac50;
    border-radius: 5px;

    width: 70%;
    height: 40px;

    cursor: pointer;
}

.limparSessao:hover {
    background-color: #0e4209;
    border: 1px solid #0e4209;
}