body {
    display: flex;
    margin: 0;
    background: #0eac50;
    flex-direction: row;
    overflow-x: hidden;
}

main {
    margin: 0;
    flex: 1;
}

/* ================= MAIN ================= */

.content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    color: #fafafa;
}

.span_message {
    font-size: 30px;
    font-weight: bold;
}

/* ================= FILTROS ================= */

.filtros {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    margin-bottom: 20px;
}

.filtro-label {
    font-weight: bold;
    font-size: larger;
    color: #fafafa;
}

.btn-filtro {
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 10px;

    padding: 8px 18px;

    font-weight: bold;
    cursor: pointer;

    transition: 0.2s;
}

.btn-filtro:hover {
    background-color: #dff5e8;
}

.btn-filtro.active {
    background: #189D50;
    color: #fafafa;
}

/* ================= GRID ================= */

.grid-silos {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

/* ================= CARDS ================= */

.card-silo {
    display: flex;
    flex-direction: column;

    border: 4px solid #189D50;
    background: #fafafa;

    border-radius: 12px;

    padding: 15px;

    height: 340px;

    box-sizing: border-box;
}

.card-titulo {
    font-size: 22px;
    font-weight: bold;

    margin-bottom: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;

    font-size: 15px;
    font-weight: bold;

    margin-bottom: 10px;
}

.info-ocupacao-verde {
    color: #0eac50;
}

.info-ocupacao-amarelo {
    color: rgb(235, 199, 0);
}

.info-ocupacao-vermelho {
    color: rgb(167, 0, 0);
}

/* ================= GRÁFICO ================= */

.card-chart-wrapper {
    position: relative;

    width: 100%;
    height: 100%;

    margin-top: 10px;
}

.card-chart-wrapper canvas {
    width: 100% !important;
    height: 100% !important;
}

/* ================= STATUS VISUAL ================= */

.card-silo.critico {
    border-color: rgb(167, 0, 0);
}

.card-silo.alerta {
    border-color: rgb(235, 199, 0);
}

.card-silo.ideal {
    border-color: #189D50;
}

/* ================= USUÁRIO ================= */

#div_username {
    font-size: larger;
    font-weight: bold;
}

.limparSessao {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #189D50;

    color: white;
    font-weight: bold;

    border: 1px solid #0eac50;
    border-radius: 5px;

    width: 70%;
    height: 40px;

    cursor: pointer;
}

.limparSessao:hover {
    background-color: #0e4209;
    border: 1px solid #0e4209;
}