* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    margin: 0px;
    background: #0eac50;
    flex-direction: row;
    overflow: hidden;
}

menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px;
    width: 100px;
    height: 100vh;
    background: #189D50;
}



.user-img {
    background-color: rgb(121, 121, 121);
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

main {
    margin: 0px;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #fafafa;
}

.span_message {
    font-size: 23px;
}

.charts {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.charts_left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 5px;
}

.left_charts_up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.total_silos {
    display: flex;
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 5px;
    padding: 10px;
}

.alertas_ativos {
    display: flex;
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 5px;
    padding: 10px;
}

.status_geral {
    display: flex;
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 5px;
    padding: 10px;
}

.left_charts_down {
    display: flex;
    height: 100%;
    margin-top: 5px;
}

.silos_tempo_real {
    display: flex;
    width: 100%;
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 5px;
}

.charts_right {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 5px;
}

.right_charts_up {
    display: flex;
    margin-bottom: 5px;
}

.silos_alerta {
    display: flex;
    width: 100%;
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 5px;
}

.right_charts_down {
    display: flex;
    margin-top: 5px;
}

.faixas {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 4px solid #189D50;
    background: #fafafa;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}

.span_faixas {
    font-size: large;
}

.faixa_ideal {
    color: #0eac50;
}

.faixa_alerta {
    color: rgb(235, 199, 0);
}

.faixa_critica {
    color: rgb(167, 0, 0);
}

.status {
    display: flex;
    flex-direction: column;
    height: 100%;
}