* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
}

.logo-title {
    width: 7%;
    padding: 15px;
}

.body-content {
    background: linear-gradient(to right, #0FAB51, #36b169, #c0e2cd);
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    height: 568px;
}

h1 {
    padding-top: 180px;
    font-size: xx-large;
}

h2 {
    font-size: x-large;
    padding-top: 180px;
    padding-bottom: 180px;
}

.body-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.quem-somos {
    display: flex;
    font-size: xx-large;
    justify-content: flex-start;
    width: 100%;
    padding-top: 1%;
    padding: 30px;
}

.corpo-do-coiso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem {
    height: 500px;
}