body {
    display: flex;
    margin: 0px;
    background: #0eac50;
    flex-direction: row;
    overflow: hidden;
}

main {
    margin: 0px;
    flex: 1;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.span-message {
    font-size: 30px;
    color: #fafafa;
}